<template>
<section>
      <div> 
        <p>Bienvenue {{$store.getters.nickname}}</p>
        <h1>{{planet.name}}</h1>
        <p><strong>Nom anglais : </strong> {{planet.englishName}}</p>
        <p><strong>Périhélie : </strong> {{planet.perihelion}} km</p>
        <p><strong>Aphélie : </strong> {{planet.aphelion}} km</p>
        <p><strong>Excentricité orbitale : </strong> {{planet.eccentricity}}</p>
        <p><strong>Inclinaison : </strong> {{planet.inclination}} degrès</p>
        <p><strong>Densité : </strong> {{planet.density}} g/cm3</p>
        <p><strong>Gravité : </strong> {{planet.gravity}} m/s-2</p>
        <p><strong>Vitesse d'échappement : </strong> {{planet.escape}} m/s-1</p>
        <div v-if="planet.discoveredBy">
          <p><strong>Découvert par : </strong> {{planet.discoveredBy}} </p>
        </div>
        <div id="moonsList" v-for="moon in moons" :key="moon.moon">
            <p>{{moon.moon}}</p>
        </div>
      </div>
  </section>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      planet: {},
      errors: [],
      moons: []
      
    }
  },
  created() {
    axios.get(`https://api.le-systeme-solaire.net/rest/bodies/${this.$route.params.id}`)
    .then(response => {
      this.planet = response.data;
      this.moons = getMoons(response.data.moons);
      
    })
    .catch(e => {
      this.errors.push(e);
    });
   /* axios.get(`https://pixabay.com/api/?key=8568636-d26c15fe142a8eba5689f4e32&q=space+${this.$route.params.id}&image_type=photo`)
    .then(response => {
      console.log(response);
      this.picture = response.data.hits[0].previewURL;
    }).catch(e => {
      this.errors.push(e);
    });*/
  },
  methods : {
    
    }
  }
  function getMoons(planetMoons) {
      var moons = [];
      if(planetMoons != null){
        planetMoons.forEach(moonPlanet => {
          if(!(moonPlanet.moon.startsWith('S/')) && moonPlanet != null) {
            moons.push(moonPlanet);
          }
      })
    }
    return moons;
  }

</script>

<style scoped>

a, p {
  color: #fff;
}
section {
  height: 100vh;
}

</style>