<template>
<section>
      <div v-for="planet of planets" v-bind:key="planet.id" class="circle" v-bind:class="[planet.name]"> 
        <div :id="[planet.id]+'-id'" class="main-orb" :style="{'width': planet.meanRadius/250+'px', 'height': planet.meanRadius/250+'px'}">
        <p class="center"  v-on:click="animate(planet.name, planet.id)">{{ planet.name }}</p>
          <div class="orbitLine"></div>
          <div class="inner-orb" >
          </div>
          </div>
        <a class="button-info" :href="`/planet/${planet.id}`" :style="{'cursor': 'url('+cursor+')'}" data-hover="Vers l'infini et au dela ...">En savoir plus sur {{planet.name}}</a>
            <ul class="moonsList">
              <li v-for="moon in getMoons(planet.moons)" v-bind:key="moon.moon" class="ring" v-bind:class="[planet.id]"> 
                <div v-bind:id="[moon.moon]" class="main-orb" :style="{'width': 50+'px', 'height': 50+'px'}">
                <div>
                  <p class="menuItem">{{moon.moon}}</p>
                </div> 
                </div>
              </li>
            </ul>
      </div>
  </section>
</template>

<script>
import axios from 'axios';
import router from '../router'

export default {
  data() {
    return {
      planets: [],
      all: [],
      errors: [],
      cursor: ''
      
    }
  },
  created() {
    axios.get("https://api.le-systeme-solaire.net/rest/bodies/")
    .then(response => {
      this.planets = getPlanets(response.data.bodies);
      this.all = response.data.bodies;
    })
    .catch(e => {
      this.errors.push(e);
    });

  },
  methods : {
    animate : function(planetName, planetId){
      var items = document.querySelectorAll('.'+planetId);
      var itemsToHide = document.getElementsByClassName('ring');
      itemsToHide.forEach(item => item.style.display = 'none');


      for(var i = 0, l = items.length; i < l; i++) {
        if(planetId != "jupiter" && planetId != "saturne" && planetId != "uranus") {
          items[i].style.display = "block";
          items[i].style.left = (50 - 120*Math.cos(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
          items[i].style.top = (50 + 120*Math.sin(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4)  + "%";
        }
        else {
          items[i].style.display = "block";
          items[i].style.left = (50 - 450*Math.cos(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
          items[i].style.top = (50 + 450*Math.sin(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4)  + "%";
        }
      }
    },
    getMoons : function(planetMoons) {
      var moons = [];
      if(planetMoons != null){
        planetMoons.forEach(moonPlanet => {
          if(!(moonPlanet.moon.startsWith('S/')) && moonPlanet != null) {
            moons.push(moonPlanet);
          }
      })
      }
      return moons;
      }
    },
    toPageInfo: function(planetId){
        router.push({name: 'PlanetDetail', params: {id:planetId} })
    }
  }

  function getPlanets(json) {
    var planets = [];
    json.forEach(planet => {
      if(planet.isPlanet && !planet.name.startsWith("(")&&!planet.name.startsWith("Plu")){
        planets.push(planet);
      }
    })
    return planets.sort((a, b) => a.perihelion - b.perihelion).reverse();
    
  }
</script>

<style scoped>

h3 {
  margin: 40px 0 0;
}
a, p {
  color: #fff;
  font-weight: bolder;
}

body {
  background: #39D;
  overflow: hidden;
}
section {
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right:5% ;
  padding: 40px;
}
.ring {
  display: none;
  position: absolute;
  margin: 10px;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  background-size: cover;
}

.main-orb {
    background: linear-gradient(#fff 0%, #eee 10%, #2E86FB 50%, #1A237E 100%);
    border-radius: 9999px;
    height: 400px;
    margin: 4rem auto;
    position: relative;
    width: 400px;
}

#jupiter-id {
  background:linear-gradient(#B2927B, #b6512f, #B2927B, rgba(255, 255, 255, 0.8), #b6512f, #B2927B, #B2927B);
}
#saturne-id {
  background: linear-gradient(#F4C494, #e09c85, #F5D9A9, #998b66, #9B897B);
}
#terre-id:hover, #venus-id:hover, #mars-id:hover, #mercure-id:hover {
  transition: all 200ms ease-in;
    transform: scale(4.5);
}
#saturne-id:hover, #jupiter-id:hover, #uranus-id:hover, #neptune-id:hover {
  transition: all 200ms ease-in;
  transform: scale(1.2);
}
.Saturne, .Neptune, .Vénus {
  margin-top: 10%;
} 
.Mars {
  margin-top: 20%;
}
.Jupiter, .Terre, .Uranus, .Mercure {
  margin-bottom: 20%;
}
.Saturne::before {
    content: '';
    display: block;
    transform: rotateZ(-20deg) rotateX(40deg);
    position: absolute;
    border-radius: 50%;
    border-bottom: 15px solid rgba(255, 255, 255, 0.7);
    border-left: 13px solid rgba(255, 255, 255, 0.6);
    border-right: 13px solid rgba(255, 255, 255, 0.55);
    transition: all 0.3s;
    width: 300%;
    height: 3.5vw;
    top: 130%;
    left: -60px;
    margin: auto;
    z-index: 2;
    transform: rotate(-17deg);
}
.Saturne::after {
    content: '';
    display: block;
    -webkit-transform: rotateZ(-20deg) rotateX(40deg);
    transform: rotateZ(-20deg) rotateX(40deg);
    position: absolute;
    border-radius: 50%;
    border-bottom: 15px solid rgba(255, 255, 255, 0.7);
    border-left: 13px solid rgba(255, 255, 255, 0.6);
    border-right: 13px solid rgba(255, 255, 255, 0.55);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
     width: 300%;
    height: 3.5vw;
    top: 130%;
    left: -60px;
    margin: auto;
    z-index: 2;
}
#uranus-id {
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
#mercure-id {
background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}
#mars-id {
      background-image: linear-gradient(60deg, rgba(162, 44, 42, 0.8) 0%, rgba(162, 44, 42, 0.8) 10%, #8e2625 20%,  #8e2625 30%,  #8e2625 40%, rgba(162, 44, 42, 0.8) 50%,  rgba(162, 44, 42, 0.8) 70%, #8e2625 80%,  #8e2625 90%);
}
.main-orb:before, .main-orb:after {
    border-radius: 200px 200px 9999px 9999px;
    bottom: -10px;
    content:'';
    filter: blur(20px);
    height: 40px;
    position: absolute;
    z-index: -1;
}
.main-orb:before {
    background: rgba(0,0,0,0.4);
    left: 7.5%;
    width: 85%;
}
.main-orb:after {
    background: rgba(0,0,0,0.7);
    left: 20%;
    width: 60%;
}

.inner-orb {
    background: linear-gradient(#fff 0%, #2E86FB 60%, #283593 100%);
    border-radius: 9999px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    filter: blur(15px);
    left: 20px;
    position: absolute;
    top: 15px;
  
}


a {
  display: block;
  width: 320px;
  margin: 10% auto 0;
  background: #587285;
  text-align: center;
  font: 700 16px/120% 'Lato', sans-serif;
  padding: 30px 0;
  color: white;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
  transition: all .3s;
}

span {
  display: block;
  font: 400 16px/120% 'Raleway', sans-serif;
  font-weight: normal;
  text-transform: none;
}

a:before {
  content: attr(data-hover);
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  padding: 5% 0;
  width: 100%;
  background: #2F4351;
  display: block;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

a:hover {
  transform: rotateX(58deg);
  
}

</style>
